/* header */

body{
    width: 100%;
    margin: 0;
}

.layout-header{
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    align-items: center;    
}
.header-top{
    background-color: black;
    padding: 15px 0 26px 0;
    background-image: url('../pic/lines.png');
}
.header-bottom{
    background-color: #00b0e2;
}

a {
    text-decoration: none;
}

.logo-name {
font-size: 44px;
}

.logo-name a{
    color: #ffffff;
}
.logo-slogan a{
    color: #ffffff;
}
.naigation {
    width: 950px;
    margin: 0 auto;
}
.navigation-bar {
    display: flex;
    align-self: center;
    width:100%;
    justify-content: space-between;
    padding: 0;     
}


#header .navigation-bar li{
    text-decoration: none;
    display: block;
    width: 113px;
}
#header .navigation-bar a{
    display: block;
    text-align: center;
    color: white;
}    
    

/* main */

#main {
    background-color: #eeeeee;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    width: 950px;
    padding: 20px 0 0 0;
}
.main-title{
    font-size: 44px;
    margin-bottom: 20px;
}
.block-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}
#main .frame-content{
    width: 310px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
}
#main a{
    display: inline-block;
    width: 250px;
    align-content: center;
    padding: 30px;   
    text-decoration: none;
}
#main img{
    padding: 4px;
    border: 1px solid #ebebeb;
    background-color: #f8f8f8;
    margin: 0 0 5px 0;
    
}

#main a h4{
    font-size: 24px;
    font-family: "Arial";
    font-weight: bold;
    color: #222222;
    margin: 0 0 10px 0;
}

#main .dotted{
    background: url('../pic/dotted.png') repeat-x;
    height: 1px;
}

#main a p{
    font-size: 12px;
    font-family: "Arial";
    color: #a2a2a2;
    margin: 0;
    
}
