body{
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    margin: 0;
}

.layout-header{
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    align-items: center;
}
.header-top{
    background-color: black;
    padding: 15px 0 25px 0;
}
.header-bottom{
    background-color: #00b0e2;
}

a {
    text-decoration: none;
}

.logo-name {
font-size: 44px;
}

.logo-name a{
    color: #ffffff;
}
.logo-slogan a{
    color: #ffffff;
}
.naigation {
    width: 950px;
    margin: 0 auto;
}
.navigation-bar {
    display: flex;
    align-self: center;
    width:100%;
    justify-content: space-between;
    padding: 0;     
}


#header .navigation-bar li{
    text-decoration: none;
    display: block;
    width: 113px;
}
#header .navigation-bar a{
    display: block;
    text-align: center;
    color: white;
}    
    

/* main */

#main {
    background-color: #eeeeee;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    width: 950px;
    padding: 30px 0 0 0;
}
.main-title{
    font-size: 44px;
}
.block-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}
#main .frame-content{
    width: 310px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #dddddd;
}
#main a{
    display: inline-block;
    width: 250px;
    align-content: center;
    padding: 30px;   
}
#main img{
    padding: 4px;
    border: 1px solid #ebebeb;
    background-color: #f8f8f8;
}



